.good-target {
  padding-top: 45px;
  padding-left: 37px;
  padding-bottom: 85px;

  @media (max-width: 1600px) {
    padding-bottom: 50px;
  }

  @media (max-width: 767px) {
    padding-bottom: 0px;
  }

  @media (max-width: 580px) {
    padding-left: 0;
  }
}

.good-target__list,
.good-target__list--number {
  padding-top: 20px;
  padding-bottom: 35px;
}

.good-target--washing {
  padding-bottom: 35px;
}

.good-target__list--number {
  padding-left: 45px;
}

.good-target__list--number li::before {
  display: none;
}

.good-target__wrap {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 70px;
  margin-bottom: 65px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

.good-target__desc {
  margin-right: 0;
}

.good-target__desc--full {
  display: none;
}

.good-target--washing .good-target__wrap {
  margin-bottom: 0;
}

.good-target--washing .good-target__desc {
  height: 100%;
}

.good-target h3 {
  font-family: inherit;
  font-size: calc(30px + 16*(100vw/1920));
  line-height: calc(20px + 26*(100vw/1920));
  font-weight: 300;
  font-variant: small-caps;
  color: var(--main-text);
  margin: 0;
  margin-bottom: 60px;

  @media (max-width: 767px) {
    margin-bottom: 45px;
  }

  @media (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.good-target p,
.good-target a,
.good-target li, {
  font-family: inherit;
  font-size: calc(14px + 10*(100vw/1920));
  line-height: calc(16px + 10*(100vw/1920));
  font-weight: 100;
  color: var(--main-text);
  margin: 0;
  margin-bottom: 32px;

  @media (max-width: 580px) {
    margin-bottom: 20px;
  }
}

.good-target__list li {
  position: relative;
  padding-left: 52px;
  margin-bottom: 0;
}

.good-target__list--number li {
  padding-left: 0;
}

.good-target__list li::before,
.good-target--washing .good-target__list li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 13px;
  left: 23px;
  transform: translateY(-50%);
  background-color: var(--basic-link);

  @media (max-width: 960px) {
    top: 10px;
  }
}

.good-target a {
  color: var(--basic-link);
}

.good-target__btn-more {
  font-family: inherit;
  font-size: 23px;
  line-height: 26px;
  font-weight: 100;
  color: var(--basic-link);
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
}


/*
.good-target label {
  font-family: inherit;
  font-size: 23px;
  line-height: 26px;
  font-weight: 100;
  color: var(--basic-link);
  text-decoration: underline;
  cursor: pointer;
}

.good-target input {
  display: none;
}

#more:checked + .good-target__content {
  height: auto;
}
*/

.good-target__present {
  position: relative;
  width: 293px;
  background-image: url("../img/presentation.jpg");
  background-repeat: no-repeat;
  background-size: 193px auto;
  background-position: 50% 0;
  margin-top: 76px;
  text-align: center;

  @media (max-width: 1280px) {
    background-size: 175px auto;
  }

  @media (max-width: 1024px) {
    background-size: 145px auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: 960px) {
    background-size: 120px auto;
  }

  @media (max-width: 580px) {
    background-size: 80px auto;
    margin: 0 auto;
  }
}

.good-target__present a {
  display: block;
  padding-top: 94%;
  margin-bottom: 0;

  @media (max-width: 1024px) {
    padding-top: 75%;
  }

  @media (max-width: 960px) {
    padding-top: 60%;
  }

  @media (max-width: 580px) {
    padding-top: 45%;
  }
}
